#carritoStyle{
    --bs-btn-bg:white;
    --bs-btn-border-color: rgb(164, 9, 133);
    --bs-btn-hover-bg: white;
    transition: 0.2s;
}

#carritoStyle:hover{
    transform: scale(1.3);
    box-shadow: 0 4px 8px rgba(164, 9, 133, 0.353);
    background-color: rgb(255, 236, 251);
    border-color: rgb(164, 9, 133);
}