
.containerCarrito{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.logoCarrito{
    font-size: 25px;
    padding: 10px;
}

.cantidadCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(rgb(97, 4, 139),rgb(164, 9, 133));
    color: white;
    border-radius: 50%;
}