.contenedorItemlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.description{
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    align-self: center;
    text-align: center;
}