
.containerNav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid rgb(164, 9, 133);
}
.containerCategorias{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.containerCategorias li{
    padding: 20px;
    align-self: center;
    text-decoration: none;
    list-style: none;
}

.containerLogo{
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
    height: auto;
    transition: 0.3s;
}
.logo:hover{
    transform: scale(1.1);
}

.logoStyle{
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.categoria{
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.categoria::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px; 
    left: 0;
    bottom: -3px; 
    background: linear-gradient(rgb(97, 4, 139), rgb(164, 9, 133)); 
    transition: width 0.3s ease;
}

.categoria:hover::after{
    width: 100%;
}